
<div>
    <div class="modal-header">
        <h3>Create Notebook</h3>
    </div>
    <div class="modal-body">
        <div>
            <label class="control-label" for="title">Notebook name</label>
            <input type="text" name="title" data-ng-model="newNotebook.Name" />
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
