header { text-align: center; }

header h1, h2 {
    font-size: 4em;
    text-shadow: rgba(0, 0, 0, .5) 2.5px 2.5px 2px;
}

header h2 { font-size: 2em; }

html, body{
    min-height: 100% !important;
    height: 100%;   
    font-family:arial;font-size:10px;
}

section li {
    border-bottom: 1px solid rgb(191, 191, 191);
    padding: 16px 0 16px 0;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#notebook,.ngRow,.ng-binding{
    cursor:pointer !important;
}

#applicationHost  {
    display: table;
}

#row  {
    display: table-row;
}

#leftContent, #rightContent, #middleContent, #topContent {
    display: table-cell;
    border:1px  solid rgb(191, 191, 191);
    min-height: 100% !important;
    height: 100%;
}

#leftContent {
    width:200px;
    background-color: rgb(191, 191, 191);
}

#middleContent {
    width:200px
}

.gridStyle
{
    border: 1px solid rgb(212,212,212);
    width: 800px;
    height: 400px;
}
